body {
  background-image: url("haikeigazo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* ここからは、テキストフォームのデザインに関する設定です。
   (Translation: The text form design setting follows.) */
/* 重要：font-size は px で、width と height は em で指定してください。
   (Important note: font-size must be set by px,
   width and height must be set by em.) */
#_111_input{
    position: absolute; /* */
	z-index:999; /* */
	font-size: 24px; /* ←この数字は文字の大きさを表しています */
	width : 15em; /* ←この数字はウインドウの幅を表しています */
	height : 2.3em; /* ←この数字はウインドウの高さを表しています */

	font-weight:bold; 
    color: #000000;
     text-shadow: black 0.01em 0.01em 0em, black -0.01em 0.01em 0em,
                 black 0.01em -0.01em 0em, black -0.01em -0.01em 0em;
    font-family: GameFont;

    border:solid 0.125em rgba(150,120,120, 1);
    border-radius:0.2em;
    background: rgba(230,230,230, 1);
}
/* ここからは、決定/キャンセルボタンのデザインに関する設定です。
   (Translation: The OK/Cancel buttons design setting follows.) */
#_111_submit{
	position: absolute; /* */
	z-index:999; /* */
	font-size: 24px; /* ←この数字は文字の大きさを表しています */

	font-weight:bold; 
    color: #000000;
     text-shadow: black 0.01em 0.01em 0em, black -0.01em 0.01em 0em,
                 black 0.01em -0.01em 0em, black -0.01em -0.01em 0em;
    font-family: GameFont;

    border:solid 0.125em rgba(150,120,120, 1);
    border-radius:0.2em;
    background: rgba(230,230,230, 1);
}
/* ここからは、残り文字数表示のデザインに関する設定です。
   (Translation: The rest character display window design setting follows.) */
#_Sasuke_RestStrLength{
    position: absolute;
	z-index:999;
	font-size: 24px;
	width : 3.5em;
	height : 1.5em;

	font-weight:bold; 
    color: #000000;
    text-shadow: black 0.04em 0.04em 0em, black -0.04em 0.04em 0em,
                 black 0.04em -0.04em 0em, black -0.04em -0.04em 0em;
    font-family: GameFont;

    border:solid 0.125em rgba(220,160,80, 1);
    border-radius: 0.2em;
    padding: 0.04em 0.25em;
    background: rgba(230,230,230, 1);
}
#_111_inputr{
    position: absolute; /* */
	z-index:999; /* */
	font-size: 24px; /* ←この数字は文字の大きさを表しています */
	width : 20em; /* ←この数字はウインドウの幅を表しています */
	height : 2.8em; /* ←この数字はウインドウの高さを表しています */

	font-weight:bold; 
    color: #000000;
     text-shadow: black 0.01em 0.01em 0em, black -0.01em 0.01em 0em,
                 black 0.01em -0.01em 0em, black -0.01em -0.01em 0em;
    font-family: GameFont;

    border:solid 0.125em rgba(150,120,120, 1);
    border-radius:0.2em;
    background: rgba(250,250,250, 1);
}
#_111_submitr{
	position: absolute; /* */
	z-index:999; /* */
	font-size: 50px; /* ←この数字は文字の大きさを表しています */
	width : 6em; /* ←この数字はウインドウの幅を表しています */
	height : 3em; /* ←この数字はウインドウの高さを表しています */

	font-weight:bold; 
    color: #000000;
     text-shadow: black 0.01em 0.01em 0em, black -0.01em 0.01em 0em,
                 black 0.01em -0.01em 0em, black -0.01em -0.01em 0em;
    font-family: GameFont;

    border:solid 0.125em rgba(150,120,120, 1);
    border-radius:0.2em;
    background: rgba(250,250,250, 1);
}
